<!DOCTYPE html>
<html>
<head>
    <title>Registro Conductor</title>
</head>
<body>
    <h1>REGISTRAR CONDUCTOR</h1>

    <form action="/Conductor/Registrar" method="post">
        ID: <input type="number" name="id"><br>
        Nombre: <input type="text" name="nombre"><br>
        Celular: <input type="text" name="celular"><br>
        Cédula: <input type="text" name="cedula"><br>
        Email: <input type="text" name="email"><br>

        <button type="submit">Registrar</button>
    </form>
</body>
</html>
