<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menú Principal</title>
</head>
<body>
    <h1>Bienvenido</h1>

    <div>
        <h2>Usuarios de Servicio</h2>
        <button onclick="window.location.href='/UsuarioServicio/Registro'">Registrarse</button>
        <button onclick="window.location.href='/UsuarioServicio/Login'">Ya soy usuario</button>
    </div>

    <div>
        <h2>Conductores</h2>
        <button onclick="window.location.href='/Conductor/Registro'">Registrarse</button>
        <button onclick="window.location.href='/Conductor/Login'">Ya soy conductor</button>
    </div>

</body>
</html>
